services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: database-postgres
    ports:
      - "5410:5432"

  redis:
    image: redis:latest
    container_name: redis_container
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  worker:
    build: ./service
    container_name: worker_container
    depends_on:
      - postgres
      - redis

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: database-postgres
      POSTGRES_HOST: postgres
      REDIS_HOST: redis
    
  script_redis:
    build: ./script_redis
    container_name: script_redis_container
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis

volumes:
  postgres_data:
  redis_data: